<!-- GMAPPING SLAM Demo -->

<launch>
    <!-- Bring up the platform in sim with all models, controllers, sensors estimates -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_gazebo movo_demo_world.launch"
        name="sim_bringup" output="screen"/>
        
    <!-- Bring up the joystick for control -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="7 movo_remote_teleop movo_remote_teleop.launch"
        name="joy_bringup" output="screen"/>
        
    <!-- Bring up the navigation demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 movo_navigation_apps gmapping_demo.launch sim:=true"
        name="nav_bringup" output="screen"/>

    <!-- Bring up RVIZ -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 movo_viz view_robot.launch function:=mapping"
        name="rviz_bringup" output="screen"/>        
       

</launch>
