<!-- GMAPPING SLAM Demo -->

<launch>
    <arg name="assisted_teleop" default="false"/>
    
    <!--- Run Assisted Teleop -->
    <include file="$(find movo_navigation_apps)/launch/assisted_teleop_demo.launch" if="$(arg assisted_teleop)" >
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
       
    <!--- Run gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <rosparam command="load" file="$(find movo_navigation_apps)/config/common/gmapping.yaml"/>
        <remap from="scan" to="/movo/base_scan_filtered" />
    </node>

</launch>
