<!-- Move Base launch file -->

<launch>
    <arg name="no_static_map" default="true"/>
    
	<node pkg="move_base" type="move_base" name="move_base" clear_params="true">
        <!-- Remap into correct namespace for mux -->
        <remap from="cmd_vel" to="/movo/navigation/cmd_vel" />

        <!-- Change the name of the move_base; it is first checked and handled by the client that we're using -->
		<remap from="move_base/goal" to="move_base_navi/goal" />
		<remap from="move_base/result" to="move_base_navi/result" />
		<remap from="move_base/feedback" to="move_base_navi/feedback" />
		<remap from="move_base/status" to="move_base_navi/status" />
		<remap from="move_base/cancel" to="move_base_navi/cancel" />
		<remap from="move_base_simple/goal" to="move_base_navi_simple/goal"/>
		<remap from="/odom" to="/movo/odometry/local_filtered" />
		
  	  	<rosparam file="$(find movo_navigation_apps)/config/common/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find movo_navigation_apps)/config/common/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find movo_navigation_apps)/config/costmaps/costmap_local.yaml" command="load" />
  		<rosparam file="$(find movo_navigation_apps)/config/costmaps/costmap_global_map.yaml" command="load" unless="$(arg no_static_map)"/>
  		<rosparam file="$(find movo_navigation_apps)/config/costmaps/costmap_global_sensors.yaml" command="load" if="$(arg no_static_map)"/>
  		<rosparam file="$(find movo_navigation_apps)/config/common/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

	</node>
    
</launch> 
           


