 <launch>
 	
    <!-- Tuck the robot -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_demos tuck_robot.launch local:=false"
        name="tuck_robot" output="screen"/>
        
    <!-- Bring up the joystick for control -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_remote_teleop movo_remote_teleop.launch"
        name="joy_bringup" output="screen"/>

    <!-- Bring up the demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="20 movo_demos demo.launch sim:=false local:=false"
        name="demo_bringup" output="screen"/>
        
    <!-- Bring up the rviz GUI -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="25 movo_viz view_robot.launch function:=demo"
        name="viz_bringup" output="screen"/>

</launch>
