 <launch>
    <arg name="map_file" default="test_zone"/>
 
     <!-- Tuck the robot -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_demos tuck_robot.launch local:=false"
        name="tuck_robot" output="screen"/>
        
    <!-- Bring up the joystick for control -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_remote_teleop movo_remote_teleop.launch"
        name="joy_bringup" output="screen"/>

    <!-- Bring up the demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 movo_demos map_nav.launch sim:=false local:=false map_file:=$(arg map_file)"
        name="nav_bringup" output="screen"/>
        
    <!-- Bring up the rviz GUI -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="10 movo_viz view_robot.launch function:=map_nav"
        name="viz_bringup" output="screen"/>

</launch>
