<?xml version="1.0"?>

<launch>
    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="movo" 
                 env-loader="/home/movo/env.sh" default="true" unless="$(arg local)"/>
                 
    <group unless="$(optenv MOVO_HAS_NO_RIGHT_ARM false)">
	    <node unless="$(optenv MOVO_HAS_NO_LEFT_ARM false)" pkg="movo_demos" type="tuck_robot" name="tuck_robot" output="log" >
		<param if="$(optenv MOVO_HAS_RIGHT_ARM_6DOF false)" name="jaco_dof_right_arm" value="6dof"/>
		<param if="$(optenv MOVO_HAS_RIGHT_ARM_7DOF false)" name="jaco_dof_right_arm" value="7dof"/>
		<param if="$(optenv MOVO_HAS_LEFT_ARM_6DOF false)" name="jaco_dof_left_arm" value="6dof"/>
		<param if="$(optenv MOVO_HAS_LEFT_ARM_7DOF false)" name="jaco_dof_left_arm" value="7dof"/>
	    </node>
	    <node if="$(optenv MOVO_HAS_NO_LEFT_ARM false)" pkg="movo_demos" type="tuck_robot" name="tuck_robot" output="log" >
		<param if="$(optenv MOVO_HAS_RIGHT_ARM_6DOF false)" name="jaco_dof_right_arm" value="6dof"/>
		<param if="$(optenv MOVO_HAS_RIGHT_ARM_7DOF false)" name="jaco_dof_right_arm" value="7dof"/>
		<param name="jaco_dof_left_arm" value="none"/>
	    </node>
    </group>
    <node if="$(optenv MOVO_HAS_NO_RIGHT_ARM false)" pkg="movo_demos" type="tuck_robot" name="tuck_robot" output="log" >
	<param if="$(optenv MOVO_HAS_LEFT_ARM_6DOF false)" name="jaco_dof_left_arm" value="6dof"/>
	<param if="$(optenv MOVO_HAS_LEFT_ARM_7DOF false)" name="jaco_dof_left_arm" value="7dof"/>
	<param name="jaco_dof_right_arm" value="none"/>
    </node>
   
</launch>
