<?xml version="1.0"?>
<launch>

<!-- Start Perception -->
    <node name="basic_grasping_perception" pkg="simple_grasping" type="basic_grasping_perception" output="screen">
    	<remap from="/head_camera/depth_registered/points" to="/kinect2/sd/points"/>
    	<param name="simulated_kinova" value="true"/>
    	<param name="use_debug" value="true"/>
        <rosparam command="load" file="$(find movo_gazebo_demo)/config/simple_grasping.yaml" />
        <rosparam command="load" file="$(find movo_moveit_config)/config/kinematics.yaml" />
    </node>

    <!-- Drive to the table, pick stuff up -->
    <node name="demo" pkg="movo_gazebo_demo" type="demo.py" output="screen" >
    	<rosparam command="load" file="$(find movo_moveit_config)/config/kinematics.yaml" />
    </node>

</launch>
