<?xml version="1.0"?>
<!--
Software License Agreement (BSD)
\file      omni_structure.urdf.xacro
\authors   Patrick Hussey
\copyright Copyright (c) 2017, Kinova Robotics inc. All rights reserved.
Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright notice,
      this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice,
      this list of conditions and the following disclaimer in the documentation
      and/or other materials provided with the distribution.
    * Neither the name of the copyright holder nor the names of its contributors
      may be used to endorse or promote products derived from this software
      without specific prior written permission.
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT 
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR 
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR 
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, 
PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS 
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<robot name="proto2_base" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Wheel Mounting Positions and Properties-->
    <xacro:property name="M_PI" value="3.14159"/>
	<xacro:macro name="proto2_base" params="name">
        <!-- Base link is the center of the robot's chassis between the motors projected on the ground -->
        <link name="${name}_link"/>
        
        <gazebo reference="base_link">
            <mu1>0.0</mu1>
        </gazebo>
		        
        <joint name="${name}_chassis_joint" type="fixed">
            <origin xyz="0 0 0.285623" rpy="0 0 0" />
            <parent link="${name}_link" />
            <child link="${name}_chassis_link" />
        </joint>
        
        <link name="${name}_chassis_link">
			<inertial>
				<mass value="55.914402" />
				<origin xyz="0 0 0" />
				<inertia ixx="3.54"  ixy="0" ixz="0"
                         iyx="0"  iyy="3.71" iyz="0"
                         izx="0" izy="0" izz="2.53" />
			</inertial>
            <collision>
				<geometry>
					<mesh filename="package://movo_description/meshes/proto2/collision/proto2_base_collision.stl" />
				</geometry>
			</collision>
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="package://movo_description/meshes/proto2/visual/proto2_base.dae"  />
				</geometry>
			</visual>
		</link>
		
        <gazebo reference="base_chassis_link">
            <mu1>0.0</mu1>
        </gazebo>
		
    </xacro:macro>
</robot>
