 <launch>
 	
    <!-- Bring up the platform in sim with all models, controllers, sensors estimates -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_gazebo movo_test_zone.launch"
        name="sim_bringup" output="screen"/>
        
    <!-- Bring up the joystick for control -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="7 movo_remote_teleop movo_remote_teleop.launch"
        name="joy_bringup" output="screen"/>

    <!-- Bring up the moveit -->
    <node if="$(optenv MOVO_HAS_KINOVA_ARM_6DOF false)" pkg="si_utils" type="timed_roslaunch"
        args="10 movo_moveit_config movo_moveit_planning_execution.launch sim:=true info:=true"
        name="moveit_bringup" output="screen"/>

    <node if="$(optenv MOVO_HAS_KINOVA_ARM_7DOF false)" pkg="si_utils" type="timed_roslaunch"
        args="10 movo_7dof_moveit_config movo_moveit_planning_execution.launch sim:=true info:=true"
        name="moveit_bringup" output="screen"/>
        
    <!-- Bring up the demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="18 movo_gazebo init_sim.xml"
        name="init_sim_bringup" output="screen"/>
        
    <!-- Bring up the demo -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="40 movo_viz view_robot.launch function:=teleop"
        name="viz_bringup" output="screen"/>

</launch>
