<launch>

	<arg name="input" default="Xbox"/>
	<arg name="hmm" default="$(find movo_demos)/launch/voice_control/en-us"/>
	<arg name="dict" default="$(find movo_demos)/launch/voice_control/movo_voice_ctl.dic"/>
	<arg name="lm" default="$(find movo_demos)/launch/voice_control/movo_voice_ctl.lm"/>
	<arg name="gram" default=":default"/>
	<arg name="grammar" default=":default"/>
	<arg name="rule" default=":default"/>

	<!--
	Node for publishing audio inputs
	-->
	<node
		name="audio_control"
		pkg="pocketsphinx"
		type="send_audio.py"
		output="screen"
		>
		<param name="input" value="$(arg input)"/>
	</node>

	<!--
	Node for handling jsgf grammar mode
	-->
	<node
		name="asr_control"
		pkg="pocketsphinx"
		type="asr_test.py"
		output="screen"
		>
		<remap from="jsgf_audio" to="sphinx_audio" />
		<param name="lm" value="$(arg lm)"/>
		<param name="dict" value="$(arg dict)"/>
		<param name="hmm" value="$(arg hmm)"/>
		<param name="gram" value="$(arg gram)"/>
		<param name="grammar" value="$(arg grammar)"/>
		<param name="rule" value="$(arg rule)"/>
	</node>

	<node name="voice_control" pkg="movo_demos" type="voice_control.py" output="screen"/>
</launch>
