<?xml version="1.0"?>
<launch>
    <env name="GAZEBO_MODEL_PATH" value="$(find movo_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
    
    <include file="$(find movo_gazebo)/launch/movo.launch">
        <arg name="world" value="$(find movo_gazebo)/worlds/test_zone.sdf"/>
        <arg name="limited" default="false"/>
        <arg name="paused" default="false"/>
        <arg name="gui" default="true"/>
    </include>



</launch>
