<?xml version="1.0"?>
<launch>

    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_gazebo movo.launch"
        name="movo_gazebo_bringup" output="screen"/>
        
    <!-- MoveIt! configuration -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="30 movo_moveit_config movo_moveit_planning_execution.launch sim:=true"
        name="movo_moveit_bringup" output="screen"/>

    <!-- Kinematics test -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="40 movo_moveit_config moveit_rviz.launch config:=true"
        name="movo_rviz_bringup" output="screen"/>

</launch>
