<?xml version="1.0"?>
<launch>

	<param name="use_sim_time" value="true" />

    <!-- ROS Driver, Robot State Publisher, and sensors -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="1 movo_gazebo movo_test_zone.launch"
        name="movo_gazebo_bringup" output="screen"/>
        
    <!-- MoveIt! configuration -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="20 movo_moveit_config movo_moveit_planning_execution.launch sim:=true info:=true"
        name="movo_moveit_bringup" output="log"/>

    <!-- Initialize the gazebo sim -->
    <node pkg="si_utils" type="timed_roslaunch"
        args="20 movo_gazebo init_inplace_demo_sim.launch"
        name="movo_demo_init" output="log"/>
        
    <node pkg="si_utils" type="timed_roslaunch"
        args="30 movo_demos inplace_pick_and_place.launch is_sim:=true"
        name="movo_demo_bringup" output="screen"/>
        
</launch>
