<!-- Launch file for jaco platform startup by default we don't use the experimental JTAS, this is just for teleop--> 
<launch>

    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="movo" 
                 env-loader="/home/movo/env.sh" default="true" unless="$(arg local)"/>
    
    <group if="$(optenv MOVO_HAS_KINOVA_ARM false)">
        <node pkg="movo_ros" type="movo_arm_ctl" name="right_arm_ctl" output="screen">
            <param name="arm_name" value="right"/>
            <param name="jaco_ip" value="$(optenv KINOVA_RIGHT_ARM_IP_ADDRESS 10.66.171.15)"/>
            <param name="interface" value="$(optenv KINOVA_ARM_IFACE eth0)"/>
            <param name="gripper" value="kg2" if="$(optenv MOVO_HAS_RIGHT_KG2_GRIPPER false)"/>
            <param name="gripper" value="kg3" if="$(optenv MOVO_HAS_RIGHT_KG3_GRIPPER false)"/>
            <param name="jaco_dof" value="6dof" if="$(optenv MOVO_HAS_KINOVA_ARM_6DOF false)"/>
            <param name="jaco_dof" value="7dof" if="$(optenv MOVO_HAS_KINOVA_ARM_7DOF false)"/>
        </node>

        <node pkg="movo_ros" type="movo_arm_ctl" name="left_arm_ctl" output="screen" if="$(optenv MOVO_HAS_TWO_KINOVA_ARMS false)">
            <param name="arm_name" value="left"/>
            <param name="jaco_ip" value="$(optenv KINOVA_LEFT_ARM_IP_ADDRESS 10.66.171.16)"/>
            <param name="interface" value="$(optenv KINOVA_ARM_IFACE eth0)"/>
            <param name="gripper" value="kg2" if="$(optenv MOVO_HAS_LEFT_KG2_GRIPPER false)"/>
            <param name="gripper" value="kg3" if="$(optenv MOVO_HAS_LEFT_KG3_GRIPPER false)"/>
            <param name="jaco_dof" value="6dof" if="$(optenv MOVO_HAS_KINOVA_ARM_6DOF false)"/>
            <param name="jaco_dof" value="7dof" if="$(optenv MOVO_HAS_KINOVA_ARM_7DOF false)"/>
        </node>

        <!-- Gripper node, enumeration should be performed with the robotiq tool using id=0 for right gripper and id=1 for left gripper,
             if there is only one gripper it will default to id=0 or right gripper-->
        <node pkg="movo_ros" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen" if="$(optenv MOVO_HAS_RIGHT_ROBOTIQ_GRIPPER false)">
            <param name="num_grippers" value="1" unless="$(optenv MOVO_HAS_LEFT_ROBOTIQ_GRIPPER false)"/>
            <param name="num_grippers" value="2" if="$(optenv MOVO_HAS_LEFT_ROBOTIQ_GRIPPER false)"/>
            <param name="movo_ip" value="$(optenv MOVO_IP_ADDRESS 10.66.171.5)"/>
        </node>
    </group>
</launch>
