<!-- Assisted teleop demo -->

<launch>
    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="movo" 
                 env-loader="/home/movo/env.sh" default="true" unless="$(arg local)"/>
    
    <node pkg="movo_assisted_teleop" name="movo_assisted_teleop" type="movo_assisted_teleop" clear_params="true" respawn="false">
    
        <param name="controller_frequency" value="10.0"/>
        <param name="num_th_samples" value="20"/>
        <param name="num_x_samples" value="6" />
        <param name="diff_drive" value="false" />
        <param name="theta_range" value="3.14" />
        <param name="translational_collision_speed" value="0.0"/>
        <param name="rotational_collision_speed" value="1.0" />
        
        <rosparam file="$(find movo_demos)/config/assisted_teleop/base_planner_params.yaml" command="load"/>
        <rosparam file="$(find movo_demos)/config/assisted_teleop/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find movo_demos)/config/assisted_teleop/costmap_local.yaml" command="load"/>
        <remap from="teleop_cmd_vel" to="/movo/teleop/cmd_vel" />
        <remap from="cmd_vel" to="/movo/assisted_teleop/cmd_vel" />
    </node>
    

</launch>
