<!-- GMAPPING SLAM Demo -->

<launch>
    <arg name="assisted_teleop" default="false"/>
    <arg name="sensor_nav" default="false"/>
    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="movo" 
                 env-loader="/home/movo/env.sh" default="true" unless="$(arg local)"/>
    
    <!--- Run Assisted Teleop -->
    <include file="$(find movo_demos)/launch/assisted_teleop.launch" if="$(arg assisted_teleop)" />
    <include file="$(find movo_demos)/launch/sensor_nav.launch" if="$(arg sensor_nav)" />
       
    <!--- Run gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
        <rosparam command="load" file="$(find movo_demos)/config/mapping/gmapping.yaml"/>
        <remap from="scan" to="/movo/base_scan_filtered" />
    </node>

</launch>
