<!-- 2D Mapless navigation Demo -->

<launch>
    <arg name="local" default="true"/>

    <machine name="movo1" address="movo1" user="movo" 
                 env-loader="/home/movo/env.sh" default="true" unless="$(arg local)"/>
     
    <!--- Run Move Base -->
    <include file="$(find movo_demos)/launch/nav/move_base.launch">
        <arg name="no_static_map" value="true"/>
        <arg name="local" value="$(arg local)"/>
    </include>
</launch>
